<main>
    <div class="container">
        <div class="row">
            <div class="col-12">
                <h4> Shop by categories </h4>
                <p>Freshest meats and much more!</p>
            </div>
        </div>
        <div class="row">
            <div class="col-xs-12 col-sm-4 col-lg-4 category" *ngFor="let category of categories">
                <img class="rounded-circle shadow" alt="avatar2" src="../../assets/{{category.categoryImagePath}}" />
            </div>
        </div>
    </div>
</main>