<footer class="footer--light">
    <div class="footer-big">
        <!-- start .container -->
        <div class="container">
            <div class="row">
                <div class="col-lg-3 col-sm-6">
                    <div class="footer-widget">
                        <div class="widget-about">
                            <img decoding="async" src="images/bg-1.png" alt="" class="img-fluid">
                            <p>We will sell only the meat that we would eat ourselves.</p>
                            <ul class="contact-details">
                                <li>
                                    <i class="fas fa-phone-alt"></i> Call Us:
                                    <a href="#">+91 - 9867436732</a>
                                </li>
                                <li>
                                    <i class="fas fa-envelope-open-text"></i>
                                    <a href="#">supportPoultryFarm&#64;gmail.com</a>
                                </li>
                            </ul>
                        </div>
                    </div>
                    <!-- Ends: .footer-widget -->
                    <!-- Responsive Html Code created by : Shift Code Design -->
                </div>
                <!-- end /.col-lg-4 -->
                <div class="col-lg-3 col-sm-6">
                    <div class="footer-widget">
                        <div class="footer-menu">
                            <h4 class="footer-widget-title">Useful Links</h4>
                            <ul>
                                <li>
                                    <a href="#">Careers</a>
                                </li>
                                <li>
                                    <a href="#">FAQs</a>
                                </li>
                                <li>
                                    <a href="#">Terms & Conditions</a>
                                </li>
                            </ul>
                        </div>
                        <!-- end /.footer-menu -->
                    </div>
                    <!-- Ends: .footer-widget -->
                    <!-- Responsive Html Code created by : Shift Code Design -->
                </div>
                <!-- end /.col-lg-3 -->

                <div class="col-lg-3 col-sm-6">
                    <div class="footer-widget">
                        <div class="footer-menu">
                            <h4 class="footer-widget-title">Our Company</h4>
                            <ul>
                                <li>
                                    <a href="#">About Us</a>
                                </li>
                                <li>
                                    <a href="#">How It Works</a>
                                </li>
                                <li>
                                    <a href="#">Testimonials</a>
                                </li>
                                <li>
                                    <a href="#">Contact Us</a>
                                </li>
                                <li>
                                    <a href="#">Plan & Pricing</a>
                                </li>
                            </ul>
                        </div>
                        <!-- end /.footer-menu -->
                    </div>
                    <!-- Ends: .footer-widget -->
                </div>
                <!-- end /.col-lg-3 -->

                <div class="col-lg-3 col-sm-6">
                    <div class="footer-widget">
                        <div class="footer-menu p-0">
                            <h4 class="footer-widget-title">Help Support</h4>
                            <ul>
                                <li>
                                    <a href="#">Support Forum</a>
                                </li>
                                <li>
                                    <a href="#">Support Policy</a>
                                </li>
                            </ul>
                        </div>
                        <!-- end /.footer-menu -->
                    </div>
                    <!-- Ends: .footer-widget -->
                </div>
                <!-- Ends: .col-lg-3 -->

            </div>
            <!-- end /.row -->
        </div>
        <!-- end /.container -->
    </div>
    <!-- end /.footer-big -->
    <!-- Responsive Html Code created by : Shift Code Design -->

    <div class="mini-footer">
        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    <div class="copyright-text">
                        <p>© 2024
                            <a href="#">Atul Poultry Farm Pvt Ltd</a>. All rights reserved.
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</footer>